/* Reset style dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style untuk nav */
nav {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.nav-list {
  display: flex;
  list-style-type: none;
}

.nav-list li {
  margin-left: 20px;
}

.nav-list a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  display: block;
  transition: background-color 0.3s ease;
}

.nav-list a:hover {
  background-color: #575757;
  border-radius: 4px;
}

/* Style responsif */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
  }

  .nav-list.active {
    display: flex;
  }

  .nav-list li {
    text-align: center;
    width: 100%;
    margin: 10px 0;
  }

  .nav-list a {
    padding: 15px;
    font-size: 18px;
  }
}


/* Style untuk footer */
