body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00ff00;
    color: #000000;
    
}

.header-animation {
    background-color: #375;
    color: #fff;
    padding: 10% 0;
    text-align: center;
    animation: slideDown 1s ease-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
/* Style dasar untuk nav */
nav {
  background-color: #333;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  background-color: #333;
}

.nav-list li {
  margin: 0;
}

.nav-list a {
  display: block;
  padding: 14px 20px;
  text-decoration: none;
  color: white;
}

.nav-list a:hover {
  background-color: #575757;
}

/* Untuk layar yang lebih kecil */
@media screen and (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    text-align: center;
  }

  .nav-list li {
    width: 100%;
  }
    }

.link-animation {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    transition: color 0.1s ease;
}

.link-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.link-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
